body {
    background-image: url("https://www.orissapost.com/wp-content/uploads/2020/07/MAIN-ARTICLE-2.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    min-height: 100vh;
}

button.alert {
    min-width: 180px;
}
